{% extends 'pages/base.html' %}

{% block title %}Information{% endblock  %}

{% block content %}
<div class="center-title">
    <h3 class="center-title_item">ABOUT ME</h3>
</div>
<div class="content-middle">
    <div class="content-middle_first">
        <p>
            Xin chào, tôi lên là Ngô Thành Nhơn, 21 tuổi, hiện đang là sinh viên năm cuối ngành Kỹ thuật Điện tử-viễn thông,
            chuyên ngành Kỹ thuật Máy tính.
            Trong quá trình học ở trường, tôi đã có cơ hội thực hiện và biết đến những kiến thức mới qua môn học PBL như 
            IoT, OOP, Maching Learning, ....
        </p>
        <p>
            Tôi là một người tò mò nên rất thích học những kiến thức mới trong ngành như các ngôn ngữ hay công nghệ mới.
            Tôi rất thích giúp đỡ người xung quanh và nhứng người trong nhóm để giúp họ có thể hoàn thành tốt được công việc của mình.Tôi cũng rất
            học hỏi từ những người khác, đặc biệt là những người xung quanh, tôi đã học được rất nhiều kiến thức từ thầy cô và những 
            người bạn trong nhóm.
        </p>
        <p>
            Hiện tại tôi đang học và làm 1 web blog bằng Python Django để đăng lên đó những kiến thức về Programming Language và AI.
        </p>
    </div>
</div>
<div class="center-title1">
    <h3 class="center-title1_item">Skill</h3>
</div>
<div class="feature-layout">
    <div class="feature-item">
        <h2 class='box-title'>Programming Language</h2>
        <ul>
            <li>Python</li>
            <li>C++</li>
            <li>HTML,CSS</li>
        </ul>
        <h2 class='box-title'>Frameworks</h2>
        <ul>
            <li>Django,Pygame,OpenCV,...</li>
            <li>OOP,ASP.NET MVC,SQL</li>
        </ul>
    </div>
    <div class="feature-item">
        <h2 class='box-title'>Version Control</h2>
        <ul>
            <li>Git</li>
        </ul>
        <h2 class='box-title'>IDE</h2>
        <ul>
            <li>PyCharm</li>
            <li>Visual Studio Code</li>
            <li>Dev-C++</li>
        </ul>
    </div>
    <div class="feature-item">
        <h2 class='box-title'>Knowledge and Softskill</h2>
        <ul>
            <li>Machine Learning, Deep Learning</li>
            <li>Khả năng làm việc nhóm, khả năng quản lý thời gian</li>
            <li>Thích nghi nhanh với môi trường</li>
        </ul>
        <h2 class='box-title'>Language</h2>
        <ul>
            <li>TOEIC 600</li>
            <li>Tiếng Trung</li>
            
        </ul>
    </div>
</div> 
{% endblock %}